# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcworkspace/xcuserdata/

# Build
build/
DerivedData/
.screenshots-derived-data/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html

# OS
.DS_Store
